
body{
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    background-color: black;
}

.about{
    width: 100%;
    padding: 78px 0px;
    background-color: #000000;
}

.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text p{
    color: #f56af5;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.about img{
    height:auto;
    width: 420px;
}
